<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Welcome to the details page!</h1>
    {% csrf_token %}
    {% for user in user_data %}
    <h1><a href="/accounts{{ account }}">User: {{ user }}</a></h1>
    <h1>First Name: {{ user.first_name }}</h1>
    <h1>Last Name: {{ user.last_name }}</h1>
    <h1>User Name: {{ user.username }}</h1>
    <h1>Email: {{ user.email }}</h1>
    <h1>Date Of Birth: {{ user.dob }}</h1>
    <h1>City: {{ user.city }}</h1>
    <hr>
    {% endfor %}
</body>
</html>
